.comment-section .comment-thread-div {
    margin-bottom: 30px;
}

.comment-section .no-cmnt-message {
    font-size: 24px;
    color: gray;
}

.comment-section .loading-icon {
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid gainsboro;
    border-right: 5px solid gainsboro;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
}
  
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}