.icon-edit-remove-button .button {
    width: 60px;
    font-size: 11px;
    padding: 0.5em 0;
    background-color: rgb(64, 185, 255);
    box-shadow: 0 0 0 1px black;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.icon-edit-remove-button .button:hover {
    background-color: rgb(0, 162, 255);
}

.icon-edit-remove-button .edit-btn {
    border-radius: 9999px 0 0 9999px;
}

.icon-edit-remove-button .remove-btn {
    border-radius: 0 9999px 9999px 0;
    background-color: rgb(64, 185, 255);
}