.image-field {
    box-shadow: 0 0 0 1px gray;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 1em;
    padding: 15px;
    max-width: 100%;
}

.img-div, .add-img-btn {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
    
}

.image-field .add-img-btn {
    background-color:  rgb(0, 140, 255);
    fill: white;
    border: none;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.image-field .add-img-btn:hover {
    background-color:  rgba(0, 140, 255, 0.8);
}

.image-field .add-img-btn svg {
    transform: rotateZ(90deg);
    transition: transform 500ms ease-in-out;
}

.image-field .add-img-btn:hover svg {
    transform: rotateZ(180deg);
}

.img-div {
    position: relative;
}

.remove-img-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: white;
    margin: 5px;
    border: none;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-img-btn svg {
    fill: gray;
}

.img-div img {
    height: 100%;
    width: 100%;
}

.img-input {
    display: none;
}