.user-content-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 10px; */
    background-color: white;
    border-radius: 12px;
}

.user-content-menu .user-content-option {
    width: 100%;
    display: flex;
    padding: 0.8em 2em;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    transition: background-color 100ms ease-in-out;
    /* border-radius: 5px; */
    overflow: hidden;
    /* color: rgb(83, 83, 83); */
    color: black;
    cursor: pointer;
    position: relative;
}

.user-content-menu .user-content-option:hover {
    background-color: #F2F2F2;
}

.user-content-menu .user-content-option::after {
    /* background-color: rgb(255, 82, 82); */
    background-color: #e5e5e5;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scaleX(0);
    position: absolute;
}

.user-content-menu .user-content-option.selected::after {
    content: '';
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.user-content-menu .user-content-option > * {
    z-index: 1;
}

.user-content-menu .user-content-option.selected {
    font-weight: 500;
}

.user-content-menu .user-content-option.selected svg {
    fill:  rgb(89, 0, 255);
}

.user-content-menu .user-content-option svg {
    fill: rgb(95, 95, 95);
}